@font-face {
	font-family: 'Lovelo';
	src: url('./Lovelo-Black.woff2') format('woff2');
}


html, body, .App {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font: 10vw 'Lovelo', sans-serif;
	color: transparent;
	-webkit-text-stroke: 3px white;
	outline: none;
}